{% extends 'base.html.twig' %}
{% block title %}Se Connecter ou s'inscrire | Sortie
{% endblock %}
{% block body %}
	<div class="container-fluid col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<div class="text-center ">
				<h1 class="h3">Bonjour</h1>
				<small class="text-center">Se connecter à Sortir
				</small>
			</div>
			<div class="form-floating mb-3 mt-5">
				<input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputEmail">Email ou pseudo</label>
			</div>
			<div class="form-floating mb-3">
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<label for="inputPassword">Mot de passe</label>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se rappeler de moi
				</label>
			</div>
			<button class="btn btn-lg btn-primary col-12" type="submit">
				Se connecter
			</button>
		</form>
	</div>
{% endblock %}
