{% extends 'base.html.twig' %}

{% block title %}Edit Participant
{% endblock %}

{% block body %}
	<h1>Edit Participant</h1>
	{% if participant.filename %}
		<img src="{{ vich_uploader_asset(participant, 'imageFile')| imagine_filter('accu')}}" alt="">
	{% else %}
		<img src="{{ '/img/empty-avatar.jpeg'| imagine_filter('accu')}}" alt="">
	{% endif %}
	{{ include('participant/_form.html.twig', {'button_label': 'Enregistrer'}) }}


	{% if  is_granted('ROLE_ADMIN') %}
		<a href="{{ path('participant_index') }}">back to list</a>
		{{ include('participant/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
