{% extends 'base.html.twig' %}

{% block title %}Participant index
{% endblock %}

{% block body %}
	<div class="container col-3">
		<h1 class="text-center">Membres :</h1>

		<ul style="list-style:none;max-height:80vh;overflow: scroll;">
			{% for participant in participants %}

				<li>
					{% if participant.filename %}
						<img class="imgProfil m-1" src="{{ vich_uploader_asset(participant,'imageFile')|imagine_filter('accu')}}" alt="">
					{% else %}
						<img class="imgProfil m-1" src="{{ '/img/empty-avatar.jpeg'|imagine_filter('accu')}}" alt="Photo de profil">
					{% endif %}
					<a href="{{ path('participant_show', {'id': participant.id}) }}">
						{{ participant.pseudo }}
					</td>
				</li>
			{% else %}
				<li colspan="11">no records found</li>

			{% endfor %}
		</ul>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('participant_new') }}">Create new</a>
		{% endif %}

	</div>
{% endblock %}
