{% extends 'base.html.twig' %}

{% block title %}Participant
{% endblock %}

{% block body %}
	<div class="text-center mb-5 mt-5 pb-5">
		<h1>
			{% if app.user.pseudo == participant.pseudo %}Mon profil
			{% else %}
				Profil de
				{{ participant.pseudo }}
			{% endif %}
		</h1>
	</div>
	<div class="row">
		<div class="col-4 text-center">
			{% if participant.filename %}
				<img class="imgProfil" src="{{ vich_uploader_asset(participant,'imageFile')|imagine_filter('profil')}}" width="200" alt="{{ participant.pseudo }}">
			{% else %}
				<img src="{{ asset('/build/img/empty_avatar.jpeg')}}" width="100" alt="{{ participant.pseudo }}">
			{% endif %}
		</div>
		<div class="col-6">
			<table class="table">
				<tbody>
					<tr>
						<th>Pseudo</th>
						<td>{{ participant.pseudo }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ participant.email }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ participant.nom }}</td>
					</tr>
					<tr>
						<th>Pr&eacute;nom</th>
						<td>{{ participant.prenom }}</td>
					</tr>
					<tr>
						<th>T&eacute;l&eacute;phone</th>
						<td>{{ participant.telephone }}</td>
					</tr>
					{% if is_granted('ROLE_ADMIN') %}
						<tr>
							<th>Administrateur</th>
							<td>{{ participant.administrateur ? '<i class="fas fa-check" style="color:green;"></i>' : '<i class="fas fa-times" style="color:red;"></i>' }}</td>
						</tr>
						<tr>
							<th>Actif</th>
							<td>{{ participant.actif ? '<i class="fas fa-check" style="color:green;"></i>' : '<i class="fas fa-times" style="color:red;"></i>' }}</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-12 mt-4">
			{% if app.user.id == participant.id or is_granted('ROLE_ADMIN') %}
				<a href="{{ path('participant_edit_photo', {'id': participant.id}) }}" title="éditer profil">
					<button class="mx-3 px-4 py-2">Modifier
						{% if is_granted('ROLE_ADMIN') %}l{% else %}m
						{% endif %}a photo de profil</button>
				</a>
				<a href="{{ path('participant_edit', {'id': participant.id}) }}" title="éditer profil">
					<button class="mx-3 px-4 py-2">Modifier
						{% if is_granted('ROLE_ADMIN') %}l{% else %}m
						{% endif %}es informations personnelles</button>
				</a>
				<a href="{{ path('participant_edit_motpasse', {'id': participant.id}) }}" title="éditer profil">
					<button class="mx-3 px-4 py-2">Modifier
						{% if is_granted('ROLE_ADMIN') %}le{% else %}mon
						{% endif %}
						mot de passe</button>
				</a>
			{% endif %}
			<a href="{{ app.request.headers.get('referer') }}" title="retour page précédente">
				<button class="mx-3 px-4 py-2" type="button">Retour</button>
			</a>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="col-12 mt-4">
				<a href="{{ path('participant_index') }}" title="Retour à la liste des profils">
					<button class="mx-3 px-4 py-2">Retour à la liste</button>
				</a>
				{{ include('participant/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>
{% endblock %}
