{% extends 'base.html.twig' %}

{% block title %}Créer une sortie !{% endblock %}

{% block body %}
    <h2>Créer une sortie !</h2>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionsMax) }}
    <div>
        {{ form_label(sortieForm.lieu) }}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#lieuModal">Créer un nouveau
        </button>
    </div>
    {{ form_widget(sortieForm.lieu) }}
    {{ form_errors(sortieForm.lieu) }}

    <div class="container-fluid d-flex flex-column">
        <div class="row d-flex justify-content-center">
            <div class="col-3"></div>
            <div class="col-2 mt-3 d-flex justify-content-end">
                {{ form_row(sortieForm.save, {attr: {class: 'btn-primary'}}) }}
                <!--<button class="btn btn-primary" type="submit" name="save">Enregistrer</button>-->
            </div>
            <div class="col-2 mt-3">
                {{ form_row(sortieForm.saveAndPublish, {attr: {class: 'btn-primary'}}) }}
                <!--<button class="btn btn-primary" type="submit" name="saveAndPublish">Publier la sortie</button>-->
            </div>
            <div class="col-2 mt-0">
                <a href="{{ app.request.headers.get('referer') }}" title="retour page précédente">
                    <button class="btn btn-secondary mt-3" type="button">Annuler</button>
                </a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    {{ form_end(sortieForm) }}


    {# fenêtre modale, cachée par défaut, sera affichée au clic sur le + #}
    <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="lieuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lieuModalLabel">Ajouter un lieu de sortie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(lieuForm, {'attr' : {'id': 'lieu_form'}}) }}
                    {{ form_widget(lieuForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
                {{ form_end(lieuForm) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>

        /**
         * Ce code gère la soumission du formulaire de la modale en ajax
         */

        //quand on tente de soumettre le formulaire de création de lieu (modale)...
        $("#lieu_form").on("submit", function (e) {
            // bloquage de la soumission normale (pour que la page ne se recharge pas)
            e.preventDefault();
            // envoie des données au serveur
            $.ajax({
                // ATTENTION ne marche que parce que je ne suis pas dans un fichier js externe !!!
                "url": "{{ path('lieu_create') }}",
                // on prend toutes les données du formulaire et on les balance ...
                "data": $("#lieu_form").serialize(),
                // ... en POST
                "method": "post"
            })
                // on reçoit le nouveau "Lieu" en response, avec son id
                .done(function (response) {
                    if (response.status == 'ok') {
                        // ajout d'une nouvelle balise <option>, ayant pour value l'id du lieu
                        var option = $("<option>").attr("value", response.lieu.id);
                        // injection du nom du lieu en contenu de la balise
                        option.html(response.lieu.nom);
                        // sélectionner la propriété afin qu'elle soit pré-selectionnée dans le select
                        option.prop('selected', true);
                        // ajoute dans le select (au début de la liste)
                        $("#sortie_lieu").prepend(option);
                        // fermeture de la fenêtre modale
                        $('#lieuModal').modal('hide');
                    } else {
                        alert("Ville inconnue, le lieu n'a pas été ajouté!")
                    }
                });
        });
    </script>

    <script>

        /**
         * Ce code gère le remplissage de la liste des villes en fonction du code postal tapé
         */

        //quand on tente de soumettre le formulaire de création de lieu (modale)...
        $("#lieu_codePostal").on("keyup", function (e) {
            //récupère la valeur tapée
            let zip = $("#lieu_codePostal").val();

            if (zip.length < 2) {
                return;
            }
            //j'envoie les données au serveur en ajax
            $.ajax({
                //ne marche que parce que je ne suis pas dans un fichier js externe
                //url à laquelle je fais ma requête
                "url": "{{ path('lieu_find_villes_by_cp') }}",
                //j'envoie le code postal tapé
                "data": {
                    'codePostal': zip
                },
                //en GET
                "method": "get"
            })
                //sera appelée lorsque la requête est terminée
                //je reçois une liste de ville en response, déjà formattée en html
                .done(function (response) {
                    //console.log(response);
                    $("#lieu_ville").html(response);
                });
        });
    </script>

    <script>

        /**
         * Ce code gère la MAJ du code postal en fonction de la ville sélectionné
         */

        $("#lieu_ville").on("change", function (e) {
            //récupère la valeur selectionnée
            let idVille = $("#lieu_ville").val();

            if (idVille.length == 0) {
                return;
            }
            if (idVille < 0) {
                return;
            }

            //j'envoie les données au serveur en ajax
            $.ajax({
                // ATTENTION ne marche que parce que je ne suis pas dans un fichier js externe !!!
                "url": "{{ path('lieu_find_cp_by_ville') }}",
                // on prend toutes les données du formulaire et on les balance ...
                "data": {
                    'idVille': idVille
                },
                // ... en GET
                "method": "get"
            })
                //sera appelée lorsque la requête est terminée
                //je reçois un cp en response
                .done(function (response) {
                    $("#lieu_codePostal").val(response.codePostal);
                });
        });
    </script>
{% endblock %}