{% extends 'base.html.twig' %}

{% block body %}

	<h2>{{ sortie.nom }}</h2>

	<div class="row">
		<div class="col-sm-8">
			<h3>Le
				{{ sortie.dateHeureDebut|date("d/m/Y à H:i") }}, à
				{{ sortie.lieu.ville.nom }}</h3>


			{% if sortie.etat.libelle == 'ANNULEE' %}
				<div class="alert alert-danger text-center">Cette sortie a été annulée, en voici le motif :
					<br>{{ sortie.motifAnnulation }}</div>
			{% elseif sortie.etat.libelle == 'CREEE' %}
				<div class="alert alert-warning text-center">Cette sortie n'est pas publiée (et donc invisible).
					<a class="" href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publiez-la !</a>
				</div>
			{% elseif sortie.etat.libelle == 'ARCHIVEE' %}
				<div class="alert alert-warning text-center">Cette sortie est méga vieille</div>
			{% elseif sortie.etat.libelle == 'ACTIVITE_EN_COURS' %}
				<div class="alert alert-warning text-center">Cette sortie est en cours !</div>
			{% elseif sortie.etat.libelle == 'CLOTUREE' and not sortie.isSubscribed(app.user) %}
				<div class="alert alert-warning text-center">Trop tard, les inscriptions sont fermées ! snif</div>
			{% elseif sortie.etat.libelle == 'CLOTUREE' and  sortie.isSubscribed(app.user) %}
				<div class="alert alert-success text-center">Les inscriptions sont fermées mais vous êtes inscrit fiou !</div>
			{% elseif sortie.etat.libelle == 'OUVERTE' %}
				<div class="alert alert-success text-center">Les inscriptions sont ouvertes !</div>
			{% endif %}

			<div>{{ sortie.infosSortie|nl2br }}</div>

			<h4 class="lead mt-3">La sortie a lieu à
				{{ sortie.lieu.ville.nom }}
				({{ sortie.lieu.ville.codePostal }})</h4>

		</div>
		<div class="col-sm-4">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Votre inscription</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ sortie.isParticipant(app.user) ? "Vous êtes inscrit !" : "Vous n'êtes pas inscrit !" }}</h6>

					{% if sortie.etat.libelle == 'OUVERTE' %}
						<a class="btn btn-{{ sortie.isParticipant(app.user) ? " danger" : " success" }}" href="{{ path('participant_toggle', {'id': sortie.id}) }}">{{ sortie.isParticipant(app.user) ? "Me désinscrire" : "M'inscrire" }}</a>
					{% elseif sortie.etat.libelle == 'CLOTUREE' and sortie.isParticipant(app.user) %}
						<a class="btn btn-danger" href="{{ path('participant_toggle', {'id': sortie.id}) }}">Me désinscrire</a>
					{% endif %}

					<div>Date limite :
						{{ sortie.dateLimiteInscription|date("d-m-Y à H:i") }}</div>

				</div>
			</div>


			<div class="card mt-4" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">À propos de la sortie</h5>


					{% if sortie.organisateur == app.user %}
						{% if sortie.etat.libelle == 'CREEE' %}
							<a class="btn btn-success" href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
							<a class="btn btn-warning" href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
						{% endif %}
						{% if sortie.etat.libelle == 'OUVERTE' or sortie.etat.libelle == 'CREE' %}
							<a class="btn btn-danger" href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
						{% endif %}
					{% endif %}

					<p>
						Organisée par
						{% if sortie.organisateur.actif %}
							<a href="{{ path('participant_show', {id: sortie.organisateur.id}) }}" title="Voir son profil">{{ sortie.organisateur.nom ~ " " ~ sortie.organisateur.prenom|first }}.</a>
						{% else %}
							l'utilisateur a été supprimé ou banni
						{% endif %}
						du campus de
						{{ sortie.organisateur.campus.nom }}
					</p>
					{% if sortie.lieu.latitude is not null %}
						{% set url = 'https://www.google.com/maps/search/'~ sortie.lieu.nom ~'+'~ sortie.lieu.ville.nom ~'\@'~ sortie.lieu.latitude ~','~ sortie.lieu.longitude   %}
						<a href={{ url }} target="about_blank">
							<i class="fas fa-map-marked-alt" style="width:70;">
								Localiser la sortie
							</i>
						</a>
					{% endif %}

				</div>
			</div>

			<h4 class="lead mt-3">Inscrits à la sortie</h4>
			<div>Inscription maximum :
				{% if sortie.nbInscriptionsMax %}
					{{ sortie.participants|length }}
					/
					{{ sortie.nbInscriptionsMax }}
				{% else %}
					&#8734;
				{% endif %}
			</div>


			<details {{ sortie.participants|length > 20 ? '' : 'OUVERTE' }}>
				<summary>{{ sortie.participants|length }}
					personnes inscrites !</summary>
				<ul>
					{% for p in sortie.participants %}
						<li>
							<a href="{{ path('participant_show', {id: p.user.id}) }}">{{ p.user.nom }}
								{{ p.user.prenom }}</a>
						</li>
					{% endfor %}
				</ul>
			</details>
		</div>
	</div>

{% endblock %}

{% block title %}
	{{ sortie.nom }}
{% endblock %}
