{% extends 'base.html.twig' %}

{% block title %}Les sorties{% endblock %}

{% block body %}
    <h2>Les sorties</h2>

    <div class="container ml-0 mr-0 pl-0 pr-0">
            {{ form_start(searchForm, {'attr': {'class': 'row'}}) }}
            <div class="col col-sm-3 d-flex flex-column justify-content-end">
                {{ form_row(searchForm.campus, {attr: {class: 'form-control-sm'}}) }}
                {{ form_row(searchForm.keyword, {attr: {class: 'form-control-sm'}}) }}
            </div>
            <div class="col col-sm-3 d-flex flex-column justify-content-end">
                {{ form_row(searchForm.start_at_min_date, {attr: {class: 'form-control-sm'}}) }}
                {{ form_row(searchForm.start_at_max_date, {attr: {class: 'form-control-sm'}}) }}
            </div>
            <div class="col col-sm-4 d-flex flex-column justify-content-start sortie-filters-checkboxes">
                <h5>Inclure...</h5>
                {{ form_row(searchForm.is_organizer) }}
                {{ form_row(searchForm.subscribed_to) }}
                {{ form_row(searchForm.not_subscribed_to) }}
            </div>
            <div class="col col-sm d-flex flex-column justify-content-end">
                {{ form_row(searchForm.submit) }}
            </div>
            {{ form_end(searchForm) }}
    </div>

    <div class="sortie-pagination">
        {{ knp_pagination_render(paginationSortie) }}
    </div>

    {% if paginationSortie %}
        <table class="table table-striped table-sm sortie-table">
            <tr>
                <th>Intitulé</th>
                <th>Statut</th>
                <th class="d-none d-lg-table-cell">Inscrits</th>
                <th class="d-none d-md-table-cell">Places restantes</th>
                <th class="d-none d-md-table-cell">Date de début</th>
                <th class="d-none d-lg-table-cell">Organisé par</th>
                <th>Action</th>
            </tr>
        {% for sortie in paginationSortie %}
            <tr>
                <td><a href="{{ path('sortie_detail', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.etat.libelle }}</td>
                <td class="d-none d-lg-table-cell">{{ sortie.participants|length }}</td>
                {% if sortie.nbInscriptionsMax %}
                    <td class="d-none d-md-table-cell">{{ sortie.nbInscriptionsMax - sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                {% else %}
                    <td class="d-none d-md-table-cell">&#8734;</td>
                {% endif %}
                <td class="d-none d-md-table-cell">{{ sortie.dateHeureDebut|date("d-m-Y à H:i") }}</td>
                <td class="d-none d-lg-table-cell">
                    {% if sortie.organisateur.actif %}
                        <a href="{{ path('participant_edit', {id: sortie.organisateur.id}) }}" title="Voir son profil">{{ sortie.organisateur.nom ~ " " ~ sortie.organisateur.prenom|first }} ({{ sortie.organisateur.campus.nom }})</a>
                    {% else %}
                        anonyme
                    {% endif %}
                </td>
                <td>
                    {% if sortie.etat.libelle == 'OUVERTE' %}
                        <a href="{{ path('participant_toggle', {'id': sortie.id}) }}">{{ sortie.isParticipant(app.user) ? "Me désinscrire" : "M'inscrire" }}</a>
                    {% elseif sortie.etat.libelle == 'CREEE' and sortie.organisateur == app.user %}
                        <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                        <a href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
                    {% endif %}
                    {% if sortie.organisateur == app.user %}
                        {% if sortie.etat.libelle == 'OUVERTE' or sortie.etat.libelle == 'CREE' %}
                            <a class="btn btn-danger" href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

        <div class="sortie-pagination">
            {{ knp_pagination_render(paginationSortie) }}
        </div>
    {% else %}
        <div>Aucune sortie !</div>
    {% endif %}
{% endblock %}
